.pagina{
	background-color: #F4F4F4;
}
.menuLateral{
	background-color: #F4F4F4;
}

.card{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -10px !important;
}

.areaPagina{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.botaoEspacamento{
	margin-top: 20px;
	margin-bottom: -15px;
}

ion-view.pane:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  background-color: #FFC900;
}

.item-content{
	margin-left: -15px !important;
	margin-right: -15px !important;
}

.center{
     text-align:center;
}

.noBorder{
	border:none !important; 
}

.divisaoMenu{
	text-align: center;
	font-size: 15px !important;
	font-style: bold;
}