
<ion-modal-view class="areaPagina">
	<ion-header-bar class="bar-assertive">
	  <h1 class="title">Buscar Pessoa</h1>
	  <div class="button assertive" ng-click="fechaBuscaPessoa()">Cancelar</div>
	</ion-header-bar>


<ion-content class="pagina">

	  	<div class="list">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Buscar por nome, CPF ou códido do cadastro">
		  </label>

		  <a class="item item-avatar" href="#/app/detalhepessoa">
		    <img src="img/avatar/1.png">
		    <h2>João da Silva</h2>
		    <p>Dois Vizinhos, Paraná, (46) 99216492</p>
		  </a>

		  <a class="item item-avatar" href="#/app/detalhepessoa">
		    <img src="img/avatar/2.png">
		    <h2>Silvana Siqueira</h2>
		    <p>Curitiba, Paraná, (41) 992123412</p>
		  </a>

		  <a class="item item-avatar" href="#/app/detalhepessoa">
		    <img src="img/avatar/4.png">
		    <h2>Pedro Silva</h2>
		    <p>São Paulo, São Paulo, (10) 35459454</p>
		  </a>
		  
		  <a class="item item-avatar" href="#/app/detalhepessoa">
		    <img src="img/avatar/5.png">
		    <h2>João Castanha</h2>
		    <p>Jacarezinho, Rio de Janeiro, (11) 99454654124</p>
		  </a>

		</div>

	
  </ion-content>
</ion-modal-view>