<ion-view view-title="Ver pessoa">
  <ion-content class="pagina">

  	<div class="areaPagina card">

	  	<div class="list">

		  <a class="item item-avatar" >
		    <img src="img/avatar/1.png">
		    <h2>João da Silva</h2>
		    <p><b>Data de Nascimento:</b> 26/05/1995 </p>
		    <p><b>CPF:</b> 08582299940 </p>
		  </a>

		  <div class="item">

		  	<!-- Telefones -->
			<div class="row responsive-sm">
			  <div class="col">
			  	<p><b>Cidade:</b> Dois Vizinhos </p>
			  </div>

			  <div class="col">
			  	<p><b>Estado:</b> Paraná </p>
			  </div>
			</div>
			<div class="row responsive-sm">
			  <div class="col">
			  	<p><b>Endereço:</b> Rua josé cleto </p>
			  </div>

			  <div class="col">
			  	<p><b>Número:</b> 1410 </p>
			  </div>
			</div>
			<div class="row responsive-sm">
			  <div class="col">
			  	<p><b>Bairro:</b> Bairro das Torres </p>
			  </div>

			  <div class="col">
			  	<p><b>Compemento:</b> Casa Azul </p>
			  </div>
			</div>




		  </div>

		   <a class="item item-icon-left positive" href="#/app/dadospessoais">
		    <i class="icon ion-edit"></i>
		   Alterar dados Pessoais
		  </a>

		  <a class="item item-icon-left royal" href="#/app/contas">
		    <i class="icon ion-briefcase"></i>
		   Gerenciar Contas
		  </a>

		  <a class="item item-icon-left balanced" href="#/app/enviarmsg">
		    <i class="icon ion-email"></i>
		    Enviar Mensagem
		  </a>

		  <a class="item item-icon-left assertive" href="#">
		    <i class="icon ion-close-round"></i>
		    Excluir Pessoa
		  </a>

	  	</div>

	</div>
  </ion-content>

</ion-view>



