<ion-view view-title="Mensagens">
  <ion-content class="pagina">
    
    <div class="areaPagina botaoEspacamento center" >
		<h5>Não Lidas</h5>	  
	 </div>

    <div class="card">	
	  <div class="item item-text-wrap">
	  	 <span class="item-note">
		      25/04/2015
		 </span>

	     <h2>Declaração do imposto de renda 2015</h2>
	     <p>Prezado cliente, informamos que seu demonstrativo do IRPF referente...</p>
	  </div>


	  <div class="item item-text-wrap">
	  	 <span class="item-note">
		      24/04/2015
		 </span>
	     <h2>Atualização cadastral</h2>
	     <p>Prezado cliente, verificamos que seus dados não são alterados há mais de...</p>
	  </div>
    </div>


	   
    <div class="areaPagina botaoEspacamento center" >
		<h5>Lidas</h5>	  
	 </div>

	 <div class="card">
	   <div class="item item-text-wrap">
	  	 <span class="item-note">
		      24/03/2015
		 </span>
	     <h2>ALorem ipsum dolor sit ame</h2>
	     <p>Ex duo tale etiam pericula, decore elaboraret eu mei, ne vel quod...</p>
	  </div>
	  <div class="item item-text-wrap">
	  	 <span class="item-note">
		      23/03/2015
		 </span>
	     <h2>ALorem ipsum dolor sit ame</h2>
	     <p>Ex duo tale etiam pericula, decore elaboraret eu mei, ne vel quod...</p>
	  </div>
	  <div class="item item-text-wrap">
	  	 <span class="item-note">
		      21/03/2015
		 </span>
	     <h2>ALorem ipsum dolor sit ame</h2>
	     <p>Ex duo tale etiam pericula, decore elaboraret eu mei, ne vel quod...</p>
	  </div>
	  <div class="item item-text-wrap">
	  	 <span class="item-note">
		      21/03/2015
		 </span>
	     <h2>ALorem ipsum dolor sit ame</h2>
	     <p>Ex duo tale etiam pericula, decore elaboraret eu mei, ne vel quod...</p>
	  </div>
	  <div class="item item-text-wrap">
	  	 <span class="item-note">
		      21/03/2015
		 </span>
	     <h2>ALorem ipsum dolor sit ame</h2>
	     <p>Ex duo tale etiam pericula, decore elaboraret eu mei, ne vel quod...</p>
	  </div>
	  <div class="item item-text-wrap">
	  	 <span class="item-note">
		      21/03/2015
		 </span>
	     <h2>ALorem ipsum dolor sit ame</h2>
	     <p>Ex duo tale etiam pericula, decore elaboraret eu mei, ne vel quod...</p>
	  </div>
	  <div class="item item-text-wrap">
	  	 <span class="item-note">
		      21/03/2015
		 </span>
	     <h2>ALorem ipsum dolor sit ame</h2>
	     <p>Ex duo tale etiam pericula, decore elaboraret eu mei, ne vel quod...</p>
	  </div>

	</div>

  </ion-content>
</ion-view>



