<ion-view view-title="Pagamentos">
  <ion-content class="pagina">
  
   <div class="areaPagina botaoEspacamento center" >
		<h5>Digite o código de barras</h5>	  
	</div>

  <div class="list card">
  	
  	<label class="item item-input item-floating-label">
	    <span class="input-label">Primeiro grupo</span>
	    <input type="number" placeholder="Primeiro grupo">
	</label>

	<label class="item item-input item-floating-label">
	    <span class="input-label">Segundo grupo</span>
	    <input type="number" placeholder="Segundo grupo">
	</label>

	<label class="item item-input item-floating-label">
	    <span class="input-label">Terceiro grupo</span>
	    <input type="number" placeholder="Terceiro grupo">
	</label>
	  
	<label class="item item-input item-floating-label">
	    <span class="input-label">Quarto grupo</span>
	    <input type="number" placeholder="Quarto grupo">
	</label>

	<label class="item item-input item-floating-label">
	    <span class="input-label">Quinto grupo</span>
	    <input type="number" placeholder="Quinto grupo">
	</label>

  </div>

   <div class="areaPagina botaoEspacamento" >
	  <button class="button button-balanced icon-right ion-chevron-right" style="float: right;">
		   Continuar
	   </button>
   </div>
   

  </ion-content>

</ion-view>



