<ion-view view-title="Pessoas">
	<ion-nav-buttons side="right">
	    <a style="color: white;" class="button button-icon icon-right icon ion-plus-round" href="#/app/dadospessoais" style="width: 200px; text-align: left;">Cadastrar Pessoa</a> 
	</ion-nav-buttons>

  <ion-content class="pagina">

  	<div class="areaPagina">

	  	<div class="list list-inset">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Buscar pessoa">
		  </label>

		  <a class="item item-avatar" href="#/app/detalhepessoa">
		    <img src="img/avatar/1.png">
		    <h2>João da Silva</h2>
		    <p>Dois Vizinhos, Paraná, (46) 99216492</p>
		  </a>

		  <a class="item item-avatar" href="#/app/detalhepessoa">
		    <img src="img/avatar/2.png">
		    <h2>Silvana Siqueira</h2>
		    <p>Curitiba, Paraná, (41) 992123412</p>
		  </a>

		  <a class="item item-avatar" href="#/app/detalhepessoa">
		    <img src="img/avatar/4.png">
		    <h2>Pedro Silva</h2>
		    <p>São Paulo, São Paulo, (10) 35459454</p>
		  </a>
		  
		  <a class="item item-avatar" href="#/app/detalhepessoa">
		    <img src="img/avatar/5.png">
		    <h2>João Castanha</h2>
		    <p>Jacarezinho, Rio de Janeiro, (11) 99454654124</p>
		  </a>

		</div>

	  
	

	</div>
  </ion-content>

</ion-view>



