<ion-view view-title="Resumo Financeiro">
  <ion-content class="pagina">

   <div class="areaPagina botaoEspacamento center" >
		<h5>Conta Corrente</h5>	  
	 </div>

    <div class="card">
		
	  <div class="item item-text-wrap item-icon-right">
	  	 <span class="item-note">
		      R$ 3.550,00
		 </span>

	     <h2>Conta corrente 1</h2>
	     <p>12000123-4123</p>
		 
	     <i class="icon ion-arrow-right-c"></i>
	  </div>

	   <div class="item item-text-wrap item-icon-right">
	  	 <span class="item-note">
		      R$ 6.550,00
		 </span>

	     <h2>Conta corrente 2</h2>
	     <p>3423421-123</p>
		 
	     <i class="icon ion-arrow-right-c"></i>
	  </div>
	 </div>
	  <div class="areaPagina botaoEspacamento center" >
		<h5>Conta Poupança</h5>	  
	 </div>

	  <div class="card">
	   <div class="item item-text-wrap item-icon-right">
	  	 <span class="item-note">
		      R$ 2.000,00
		 </span>

	     <h2>Conta poupança</h2>
	     <p>344123123-123</p>
		 
	     <i class="icon ion-arrow-right-c"></i>
	  </div>
	   <div class="item item-text-wrap item-icon-right">
	  	 <span class="item-note">
		      R$ 7.000,00
		 </span>

	     <h2>Conta poupança 2</h2>
	     <p>4123412-321</p>
		 
	     <i class="icon ion-arrow-right-c"></i>
	  </div>



	</div>

  </ion-content>
</ion-view>



